<div class="container">

	<!-- LISTING HEADER -->
	<div class="row">
		<div class="col-sm-12">
			<div class="listing-header">
					<h1>{{listing.name}}</h1>
					<h3>Golden Retreiver</h3>
			</div>
		</div>
	</div>


	<div class="row">

		<!-- LISTING INFO -->
		<div class="col-sm-9">

			<div class="listing-container listing-gallery">

				<div class="gallery-image">
					<img 
					class="img-responsive center-block img-rounded" 
					ng-src="/img/{{listing.images[0].filepath}}">
				</div>

				<div class="gallery-box">
					<div class="row">

						<div class="col-xs-4">
							<img 
							class="img-responsive"
							ng-src="/img/{{listing.images[0].filepath}}">
						</div>
						
						<div class="col-xs-4">
							<img 
							class="img-responsive"
							ng-src="/img/{{listing.images[1].filepath}}">
						</div>
						
						<div class="col-xs-4">
							<img 
							class="img-responsive"
							ng-src="/img/{{listing.images[2].filepath}}">
						</div>

					</div>
				</div>
			</div>

			<!-- LISTING CONTAINER -->
			<div class="listing-container">
				<!-- CONTAINER TITLE -->
				<div class="title-box">
					<h4>Description</h4>
				</div>
				<!-- CONTAINER CONTENT -->
				<div class="listing-content">
					<p>{{listing.description}}</p>
				</div>

			</div>

			<!-- SOCIAL SHARING BUTTONS -->
			<div class="row text-center">
				<div class="col-xs-4">
					<button class="btn btn-info">Share on Twitter</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-primary">Share on Facebook</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default">Share your puppy!</button>
				</div>
			</div>

			<div class="listing-footer text-center">
				<p>We are on a mission to end puppy mills, read about it <b>here.</b></p>
			</div>
		</div>


		<!-- BREEDER INFO -->
		<div class="col-sm-3">
			<div class="listing-container text-center">
				<div class="row">
					<div class="col-xs-12">
						<h2>${{listing.cost}}</h2>
					</div>
					<div class="col-xs-12">
						<button class="btn btn-success">Contact Breeder</button>
					</div>
					<div class="col-xs-12">
						<h5>2 Available Today</h5>
					</div>
					<div class="col-xs-12">
						<h5>Deposit ${{listing.deposit}}</h5></div>
				</div>
			</div>

			<!-- LISTING CONTAINER -->
			<div class="listing-container">
				<div class="row">
					<div class="col-xs-12">
						<div class="title-box">
							<h4>Puppies R' Us</h4>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="breeder-cert text-center">
							<i class="fa fa-star fa-3x"></i>
							<p>AKC Certified</p>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="breeder-cert text-center">
							<i class="fa fa-star fa-3x"></i>
							<p>CERF Certified</p>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="breeder-cert text-center">
							<i class="fa fa-star fa-3x"></i>
							<p>OFA Certified</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>