<div class="container">

	<div class="row profile-nav">
		<div class="profile-nav-btn-group">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-profile">Inbox(1)</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-profile">Listing</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-profile">Request</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-profile">Profile</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-profile">Account</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row theme-profile">
		<!-- PROFILE HEADER -->
		<div class="col-sm-12">
			<div class="profile-header">
				<h1>{{profile.f_name}} {{profile.l_name}}</h1>
			</div>
		</div>

		<!-- PROFILE CONTENT -->
		<div class="col-sm-12">					
			<div class="row">
				<!-- LEFT SIDE PROFILE CONTENT -->
				<div class="col-sm-3">
					<div class="thumbnail profile-info">
						<!-- <img class="img-rounded" src="img/puppy.jpg" alt="..."> -->
						<div class="caption text-center">
							<h4>Hamilton, ON</h4>
							<p>{{profile.age}}</p>
							<p>{{profile.email}}</p>
							<p>{{profile.phone}}</p>
						</div>
					</div>
				</div>
				<!-- RIGHT SIDE PROFILE CONTENT -->
				<div class="col-sm-9 padding-sides">
					<!-- ABOUT -->
					<div class="profile-content-container">
						<div class="title-box"><h4>About</h4></div>
						<div class="profile-content">
							<p>Hi there! I'm a breeder of Hamiltons favourite puggles - you should definitely check out my listings.</p>
						</div>
					</div>
					<!-- LISTINGS -->
					<div class="profile-content-container">
						<div class="title-box"><h4>Listings</h4></div>
						<div class="profile-content">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<div class="thumbnail listing">
										<img class="img-rounded" src="img/puppy.jpg" alt="...">
										<div class="caption text-center">
											<h3>Jack Bomber Castlefield</h3>
											<h4>Fluffy</h4>
											<p>$600</p>
											<a href="#" class="btn btn-primary" role="button">More Info</a> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>  <!-- END-ROW -->
</div>