<div class="container">
	<div class="row">
		<form name="signupForm" ng-submit="submitForm()" role="form">
			<div class="col-xs-12">
				<h1>Sign Up!</h1>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="f_name">First Name</label>
					<input 
					type="text" 
					class="form-control" 
					name="f_name"
					ng-model="form.f_name"
					placeholder="First Name"
					required>
				</div>
				<div class="form-group">
					<label for="l_name">Last Name</label>
					<input 
					type="text" 
					class="form-control" 
					name="l_name"
					ng-model="form.l_name"
					placeholder="Last Name"
					required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input 
					type="email" 
					class="form-control" 
					name="email"
					ng-model="form.email"
					placeholder="Email"
					required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input 
					type="password" 
					class="form-control" 
					name="password"
					ng-model="form.password"
					placeholder="Password"
					required>
				</div>
				<div class="form-group">
					<label for="confirm_password">Confirm Password</label>
					<input 
					type="password" 
					class="form-control" 
					name="confirm_password"
					ng-model="form.confirm_password"
					placeholder="Password Again"
					required>
				</div>
				<div class="form-group">
					<label for="age">Age</label>
					<input 
					type="text" 
					class="form-control" 
					name="age"
					ng-model="form.age"
					placeholder="Age"
					required>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input 
					type="text" 
					class="form-control" 
					name="phone"
					ng-model="form.phone"
					placeholder="Phone"
					required>
				</div>
				<div class="form-group">
					<label for="street_name">Street Name</label>
					<input 
					type="text" 
					class="form-control" 
					name="street_name"
					ng-model="form.street_name"
					placeholder="Street Name"
					required>
				</div>
				<div class="form-group">
					<label for="street_number">Street Number</label>
					<input 
					type="text" 
					class="form-control" 
					name="street_number"
					ng-model="form.street_number"
					placeholder="Street Number"
					required>
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input 
					type="text" 
					class="form-control" 
					name="city"
					ng-model="form.city"
					placeholder="City"
					required>
				</div>
				<div class="form-group">
					<label for="state">State</label>
					<input 
					type="text" 
					class="form-control" 
					name="state"
					ng-model="form.state"
					placeholder="State"
					required>
				</div>
				<div class="form-group">
					<label for="country">Country</label>
					<input 
					type="text" 
					class="form-control" 
					name="country"
					ng-model="form.country"
					placeholder="Country"
					required>
				</div>
			</div>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-info pull-right">Sign Up!</button>
			</div>
		</form>

	</div>
</div>